<%  @page_title = "スタッフ一覧" %>
<h1><%=  @page_title %></h1>

<div class="row">
<div class="col s8">
<%= form_tag :search_user_staffs, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= button_tag "検索", class: "btn waves-effect waves-light", type: "button", onclick: "submit();" %></p>
<% end %>

</div>
</div>

<% if @user.staffs.present? %>
<table class="highlight">
  <tr>
    <th width="100px">スタッフID</th>
    <th width="300px">名前</th>
  </tr>
  <% @staffs.each do |staff| %>
  <% if staff.user_id == @user.id %>
  <tr>
    <td><%= staff.staff_number %></td>
    <td><%= staff.staff_name %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<% else %>
<p>スタッフが登録されていません。</p>
<% end %>
