<%  @page_title = "スタッフ管理" %>
<h1><%=  @page_title %></h1>


<%= form_tag :search_staffs, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= button_tag "検索", class: "btn waves-effect waves-light btn", type: "button", onclick: "submit();" %></p>
<% end %>

<p><%= link_to "スタッフ新規登録", :new_staff, class: "btn waves-effect waves-light btn blue" %></p>

<% if @staffs.present? %>

<table class="highlight">
  <tr>
    <th>スタッフID</th>
    <th>名前</th>
    <th>状態</th>
    <th>操作</th>
  </tr>
  <% @staffs.each do |staff| %>
  <tr>
    <td><%= staff.staff_number %></td>
    <td><%= staff.staff_name %></td>
    <td><%= staff.staff_suspension? ? "停止中" : "使用中" %></td>
    <td>
      <%= link_to "編集", [:edit, staff] %> |
      <%= link_to "削除", staff, method: :delete,
            data: { confirm: "本当に削除しますか?" } %>
    </td>
  </tr>
  <% end %>
</table>

<% else %>
<p>メニュー情報がありません。</p>
<% end %>
