<% @page_title = "クリニックの新規登録" %>

<h1><%= @page_title %></h1>

<p><%= link_to "アカウント詳細に戻る", current_user %></li></p>

<div class="row">

  <%= form_for ([@user, @clinic]) do |form| %>

  <%= render "form", form: form %>

  <p><%= button_tag "登録", class: "btn waves-effect waves-light btn", type: "button", onclick: "submit();" %></p>
  <% end %>

</div>
