<%= render "shared/errors", obj: @menu %>

<table class="highlight">
  <tr>
    <th><%= form.label :content_id %></th>
    <td><%= form.text_field :content_id, size: 8,placeholder: "1" %></td>
  </tr>
  <tr>
    <th><%= form.label :content_name %></th>
    <td><%= form.text_field :content_name,placeholder: "マッサージ30分" %></td>
  </tr>
  <tr>
    <th><%= form.label :price %></th>
    <td><%= form.text_field :price,placeholder: "3000" %></td>
  </tr>
  <tr>
    <th><%= form.label :attached_point %></th>
    <td><%= form.text_field :attached_point,placeholder: "30" %></td>
  </tr>
</table>
