<P>
<% if current_user %>
  <%= Notice.status_text(notice.status) %> |
  <% if current_user == notice.author %>
    <%= link_to "編集", [:edit, notice] %> |
    <%= link_to "削除", notice, method: :delete,
      data: { confirm: "本当に削除しますか？" } %> |
  <% end %>
<% end %>
by
<% if notice.author.clinic.present? %>
  <%= link_to notice.author.clinic.name, [notice.author, :notices] %>
<% else %>
  <%= link_to notice.author.full_name, [notice.author, :notices] %>
<% end %>
  |
<%= notice.released_at.strftime("%Y/%m/%d") %>
</P>
