<% if @notice.author.clinic.present? %>
  <h1><%= @notice.author.clinic.name %>さんの投稿</h1>
<% else %>
  <h1><%= @notice.author.full_name %>さんの投稿</h1>
<% end %>
<h2><%= @notice.title %></h2>

  <p><%= link_to "お知らせ一覧に戻る", :notices %></p>

  <%= simple_format(@notice.body) %>

  <%= render "footer", notice: @notice %>
