<tr class="nested-fields" width="1200px">
    <td width="240px">
      <%= f.select :service, Menu.all.map(&:content_name), id: "receipt_service",:include_blank => "選択して下さい" %>
    </td>
    <td width="240px">
      <%= javascript_tag do %>
        point = <%= Menu.pluck(:attached_point) %>
      <% end %>
      <%= f.text_field :gained_point, id: "receipt_point", class: "right-align" %>
    </td>
    <td width="240px">
      <%= javascript_tag do %>
        payment = <%= Menu.pluck(:price) %>;
      <% end %>
    <%= f.text_field :payment, id: "receipt_payment", class: "right-align" %>
    </td>
    <td width="240px">
      <%= f.select :payment_method, Receipt.payment_methods.keys %>
    </td>
    <td width="240px">
      <%= link_to_remove_association '-', f, class: "btn waves-effect waves-light red hoverable" %>
    </td>
</tr>
