<tr class="nested-fields">
    <td>
      <%= f.date_field :payday, class: 'form-control' %>
    </td>
    <td>
      <%= f.text_field :payee, class: 'form-control' %>
    </td>
    <td>
      <%= f.select :service, Menu.all.map(&:content_name), id: "receipt_service",:include_blank => "選択して下さい" %>
    </td>
    <td>
      <%= javascript_tag do %>
        point = <%= Menu.pluck(:attached_point) %>
      <% end %>
      <%= f.text_field :gained_point, id: "receipt_point", class: "right-align" %>
    </td>
    <td>
      <%= javascript_tag do %>
        payment = <%= Menu.pluck(:price) %>;
      <% end %>
    <%= f.text_field :payment, id: "receipt_payment", class: "right-align" %>
    </td>
    <td>
      <%= f.select :payment_method, Receipt.payment_methods.keys %>
    </td>
    <td>
      <%= link_to_remove_association '-', f, class: "btn waves-effect waves-light red hoverable" %>
    </td>
</tr>
