<%  @page_title = "お会計の詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "お会計一覧", :patients_receipts %> | <%= link_to "編集", [:edit, @patients_receipt] %></p>

<table class="highlight">

  <%= @patients_receipt.id %>
  <tr>
    <th>支払日</th>
    <td><%= @patients_receipt.payday %></td>
  </tr>
  <tr>
    <th>支払う人</th>
    <td><%= @patients_receipt.payee %></td>
  </tr>
  <% @patients_receipt.receipts.each do |receipt| %>
  <tr>
    <th>サービス名</th>
    <td><%= receipt.service %></td>
  </tr>
  <tr>
    <th>取得ポイント</th>
    <td><%= receipt.gained_point %></td>
  </tr>
  <tr>
    <th>支払金額</th>
    <td><%= receipt.payment %></td>
  </tr>
  <tr>
    <th>支払方法</th>
    <td><%= receipt.payment_method %></td>
  </tr>
  <% end %>
</table>

</div>
