<%  @page_title = "アカウント詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">
  <div class="col s12">
<%= link_to "患者一覧", practice_users_url %> >> アカウント詳細
  <% if current_user && (@user.id == current_user.id) %>
      >> <%= link_to "アカウント編集", edit_user_registration_path %></div></div>
  <% else %>
</div></div>
  <% end %>

  <% creatable = true %>
  <% @user.held_cards.each do |held_card|%>
    <% if current_user.id == held_card.publisher_id %>
      <% creatable = false %>
    <% end %>
  <% end %>

  <% unless @user.id == current_user.id %>
    <% if current_user.practice? %>
    <% unless @user.practice? %>
      <% if creatable %>
      <div class="row">
      <div class="col s12">
       <%= link_to "診察券作成", new_practice_user_clinic_card_url(@user, @clinic_card), class: "btn waves-effect waves-light blue" %></div></div>
      <% else %>
      <div class="row">
      <div class="col s9">
        <ul class="collection hoverable">
        <li class="collection-item avatar">
          <%= image_tag @clinic_card.publisher.avatar.url, class: "circle" %>
          <p><%= @clinic_card.publisher.clinic.name %><br>
              診察券番号<%= link_to @clinic_card.number, practice_user_clinic_card_url(id: @clinic_card.id, user_id: @user.id) %>
          </p>
          <span class="title">最終来院日 <%= @payday %></span>
          <p class="secondary-content">保有ポイント<%= @clinic_card.holding_point %>P</p>
        </li>
      </ul>
      </div></div>
      <% end %>
    <% end %>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col s12">
      <% if (@user == current_user) && (@user.practice?) %>
        <% unless @user.clinic.present? %>
          <p><%= link_to "クリニック登録", new_practice_user_clinic_url(@user), class: "btn waves-effect waves-light blue" %></p>
          <div class="balloon1-top">
            <p>ここからクリニック情報を入力しよう！</p>
          </div>
        <% else %>
          <%= link_to "クリニック情報の編集", edit_practice_user_clinic_url(@user), class: "btn waves-effect waves-light blue" %></p>
        <% end %>
      <% end %>
    </div>
  </div>

<%= render "body" %>

<%= render "stats" %>

<% unless @user.id == current_user.id %>
<%= render "follow_form" if user_signed_in? %>
<% end %>
