<table class="highlight">
  <tr>
    <th width="190">画像</th>
    <td><%= image_tag @user.avatar.url %></td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= @user.full_name %></td>
  </tr>
  <tr>
    <th>電話</th>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>生年月日</th>
    <td><%= @user.birthday.try(:strftime, "%Y年%m月%d日") %></td>
  </tr>
  <tr>
    <th>性別</th>
    <td><%= @user.gender == 0 ? "男" : "女" %></td>
  </tr>
  <tr>
    <th>所属</th>
    <td><%= @user.practice? ? "ビジネスユーザー" : "個人ユーザー" %></td>
  </tr>

  <% if @user.practice? %>

  <% if @user.clinic.present? %>
  <tr>
    <th>治療院名等</th>
    <td><%= @user.clinic.name %></td>
  </tr>
  <tr>
    <th>ホームページ</th>
    <td><a href="<%= @user.clinic.hp_url %>"><%= @user.clinic.hp_url %></a></td>
  </tr>
  <% end %>
  <tr>
    <th>郵便番号</th>
    <td><%= @user.address.postcode %></td>
  </tr>
  <tr>
    <th>都道府県</th>
    <td><%= @user.address.prefecture %></td>
  </tr>
  <tr>
    <th>市区町村</th>
    <td><%= @user.address.city %></td>
  </tr>
  <tr>
  <tr>
    <th>番地</th>
    <td><%= @user.address.street %></td>
  </tr>
  <tr>
    <th>建物名/号室</th>
    <td><%= @user.address.building %></td>
  </tr>

  <% end %>
</table>
