<%  @page_title = "患者一覧" %>
<h1><%=  @page_title %></h1>

<div class="row">
<div class="col s9">
<%= form_tag :search_users, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= button_tag '検索', class: "btn waves-effect waves-light", type: "button", onclick: "submit();" %></p>
<% end %>
</div>
</div>

<% if @users.present? %>
<%= paginate @users %>

<div class="row">
<div class="col s9">

<ul class="collection hoverable">

<% @users.each do |user| %>
<% unless user.id == current_user.id %>
<% unless user.practice? %>


  <li class="collection-item avatar">
    <%= image_tag user.avatar.url, class: "circle" %>
    <p>カルテ番号<br>
       <% if user.held_cards.find_by( publisher_id: current_user.id ).present? %>
         <%= user.held_cards.find_by( publisher_id: current_user.id ).number %>
       <% else %>
         診察券未作成
       <% end %>
    </p>
    <span class="title"><%= link_to user.full_name, user %></span>
    <% unless user.practice? %>
    <p class="secondary-content">
      <%= link_to "カルテ", user_medical_charts_path(user, @medical_cahart), class: "btn waves-effect waves-light blue" %>
      <%= link_to "お会計", user_patients_receipts_path(user, @clinic_card), class: "btn waves-effect waves-light blue"
       %>
    </p>
    <% end %>
  </li>

<% end %>
<% end %>
<% end %>

</ul>

</div>
</div>

<%= paginate @users %>
<% else %>
<p>患者が登録されていません</p>
<% end %>
