<%  @page_title = "マイクリニックリスト" %>
<h1><%=  @page_title %></h1>

<%= form_tag :search_users, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= submit_tag "検索" %></p>
<% end %>

<% if @clinicks.present? %>
<%= paginate @clinicks %>

<% @clinicks.each do |clinick| %>

<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
        <span class="card-title"><%= 坂道の鍼灸マッサージ療院 %></span>
      </div>
      <div class="card-content">
        <p>I am a very simple card. I am good at containing small bits of information.
        I am convenient because I require little markup to use effectively.</p>
      </div>
      <div class="card-action">
        <a href="#">ホームページ</a>
      </div>
    </div>
  </div>
</div>

  <% end %>
</table>
<%= paginate @clinicks %>
<% else %>
<p>会員情報がありません。</p>
<% end %>
