<%  @page_title = "マイクリニックリスト" %>
<h1><%=  @page_title %></h1>

<div class="row">
<div class="col s9">
<%= form_tag :search_users, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= button_tag "検索", class: "btn waves-effect waves-light", type: "button", onclick: "submit();" %></p>
<% end %>
</div>
</div>

<% if @users.present? %>

<div class="row">
<div class="col s9">

<ul class="collection hoverable">

<% @users.each do |user| %>
<% if user.practice? %>


  <li class="collection-item avatar">
    <%= image_tag user.avatar.url, class: "circle" %>
    <p>
      <% if user.clinic.present? %>
        <%= link_to user.clinic.name, user %>
      <% else %>
        <%= link_to user.full_name, user %>
      <% end %>
        <br>
      <% if user.clinic.present? %>
       <%= user.clinic.hp_url %>
      <% else %>
        <%= %>
      <% end %>
    </p>
    <span class="title" data-href="tel:<%= user.phone %>"><%= user.phone %></span>
  </li>
<% else %>
  <p>ユーザー名が一致しません</p>
<% end %>
<% end %>

</ul>

</div>
</div>

<% else %>
<p>マイクリニックが登録されていません</p>
<% end %>
