<%  @page_title = "アカウント詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">
  <div class="col s12">
<%= link_to "マイクリニックリスト", users_url %> >> アカウント詳細
  <% if current_user && (@user.id == current_user.id) %>
      >> <%= link_to "アカウント編集", edit_user_registration_path %></div></div>
  <% else %>
</div></div>
  <% end %>

<div class="row">
  <div class="col s12">
    <% if @user.menus.present? %>
    <%= link_to "メニュー", user_menus_path(@user), class: "btn waves-effect waves-light blue" %>
    <% end %>
    <% if @user.staffs.present? %>
      <%= link_to "スタッフ一覧", user_staffs_path(@user), class: "btn waves-effect waves-light blue" %>
    <% end %>
  </div>
</div>

<% if @user.held_cards.present? %>
  <div class="row">
    <div class="col s12">
      <%= link_to "診察券一覧", user_clinic_cards_url(@user), class: "btn waves-effect waves-light blue" %>
    </div>
  </div>
<% end %>

<%= render "body" %>

<%= render "stats" %>

<% unless @user.id == current_user.id %>
<%= render "follow_form" if user_signed_in? %>
<% end %>
