<%  @page_title = "クーポンの詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "クーポン一覧", user_coupons_url %></p>

<table class="highlight">
  <tr>
    <th width="150px">クーポン名</th>
    <td><%= @coupon.coupon_name %></td>
  </tr>
  <tr>
    <th>残り回数</th>
    <td><%= @coupon.remaining %></td>
  </tr>
  <tr>
    <th>有効期限</th>
    <td><%= simple_time(@coupon.expiration_date) %></td>
  </tr>
  <tr>
    <th>残り日数</th>
    <td><%= @coupon_life %>日</td>
  </tr>
</table>

</div>
