<% @page_title = @notice.title + " - " + @notice.author.full_name + "さんの投稿" %>
<h1><%= @notice.author.full_name %>さんの投稿</h1>
<h2><%= @notice.title %></h2>

<% if current_user == @notice.author %>
  <p><%= link_to "お知らせ一覧に戻る", :notices %> | <%= link_to "編集", [:edit, @notice] %></p>
  <% else %>
  <p><%= link_to "お知らせ一覧に戻る", :notices %></p>
  <% end %>

  <%= simple_format(@notice.body) %>

  <%= render "footer", notice: @notice %>
