<%= render "shared/errors", obj: @medical_chart %>

<%= form_for [@user, @medical_chart] do |form| %>

<%= form.hidden_field :therapist_id, value: current_user.id %>
<%= form.hidden_field :patient_id, value: @user.id %>

<table class="highlight">
  <tr>
    <th width="100px"><%= form.label :card_number %></th>
    <td width="300px">
      <% if @user.held_cards.find_by( publisher_id:current_user.id ).present? %>
        <% value_number = @user.held_cards.find_by( publisher_id:current_user.id ).number %>
      <%= form.text_field :card_number, value: value_number %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :visited_at %></th>
    <td><%= form.date_field :visited_at, class: "validate", autocomplete: "visited_at" %></td>
  </tr>
  <tr>
    <th><%= form.label :service %></th>
    <td><%= form.select :service, Menu.where(user_id: current_user.id).pluck(:content_name) %></td>
  </tr>
  <tr>
    <th><%= form.label :staff_name %></th>
    <td><%= form.select :staff_name, @staff_name %></td>
  </tr>
  <tr>
    <th><%= form.label :cc %></th>
    <td><%= form.text_field :cc %></td>
  </tr>
  <tr>
    <th><%= form.label :tx_comment %></th>
    <td><%= form.text_area :tx_comment, class: "materialize-textarea" %></td>
  </tr>
  <tr>
    <th><%= form.label :comment %></th>
    <td><%= form.text_area :comment, class: "materialize-textarea" %></td>
  </tr>
</table>

<div class="col s2">
  <%= form.submit class: "btn waves-effect waves-light btn" %>
</div>

<% end %>
