<%= render "shared/errors", obj: @medical_chart %>

<table class="highlight">
  <tr>
    <th><%= form.label :card_number %></th>
    <td><%= form.text_field :card_number %></td>
  </tr>
  <tr>
    <th><%= form.label :visited_at %></th>
    <td width="800px"><%= form.date_field :visited_at, class: "validate", autocomplete: "visited_at" %></td>
  </tr>
  <tr>
    <th><%= form.label :service %></th>
    <td><%= form.select :service, Menu.all.map(&:content_name) %></td>
  </tr>
  <tr>
    <th><%= form.label :staff_name %></th>
    <td><%= form.select :staff_name, Staff.all.map(&:staff_name) %></td>
  </tr>
  <tr>
    <th><%= form.label :cc %></th>
    <td><%= form.text_field :cc %></td>
  </tr>
  <tr>
    <th><%= form.label :tx_comment %></th>
    <td><%= form.text_area :tx_comment, class: "materialize-textarea" %></td>
  </tr>
  <tr>
    <th><%= form.label :comment %></th>
    <td><%= form.text_area :comment, class: "materialize-textarea" %></td>
  </tr>
</table>
