<% @page_title = "カルテ一覧" %>
<h1><%= @user.full_name %>さんのカルテ</h1>
<h3>診察券ID　<%=  %></h2>

<p><%= link_to "患者一覧", users_url %></p>

<p><%= link_to "新規作成", [:new, @user, :medical_chart], class: "btn waves-effect waves-light blue" %></p>

<div class="row">

<% if @medical_charts.present? %>
<%= paginate @medical_charts %>
  <table class="highlight">
    <tr>
      <th>日付</th>
      <th>コース</th>
      <th>担当者</th>
      <th>主訴</th>
      <th>施術内容</th>
      <th>コメント</th>
    </tr>
    <% @medical_charts.each do |medical_chart| %>
    <% if medical_chart.patient.id == @user.id %>
    <tr>
      <td><%= link_to medical_chart.visited_at.strftime("%Y/%m/%d"), user_medical_chart_url(id: medical_chart.id) %></td>
      <td><%= medical_chart.service %></td>
      <td><%= medical_chart.staff_name %></td>
      <td><%= medical_chart.cc %></td>
      <td><%= truncate(medical_chart.tx_comment,:length => 12) %>
        <%= link_to "全て表示", user_medical_chart_url(id: medical_chart.id) %></td>
      <td><%= truncate(medical_chart.comment,:length => 12) %>
        <%= link_to "全て表示", user_medical_chart_url(id: medical_chart.id) %></td>
    </tr>
    <% end %>
    <% end %>
  </table>
  <%= paginate @medical_charts %>
</div>
  <% else %>
  <p>カルテがありません</p>
  <% end %>
