<%= render "shared/errors", obj: @menu %>
<%= form.hidden_field :user_id, value: current_user.id %>
<table class="highlight">
  <tr>
    <th><%= form.label :content_id %></th>
    <td><%= form.text_field :content_id, size: 8, placeholder: "1" %></td>
  </tr>
  <tr>
    <th><%= form.label :content_name %></th>
    <td><%= form.text_field :content_name, placeholder: "マッサージ30分" %></td>
  </tr>
  <tr>
    <th>
      <%= form.check_box :coupon, id: "coupon", for: "count" %>
      <%= form.label :coupon, for: "coupon" %>
    </th>
    <td id="count">
      <div>
      <%= form.radio_button :usage, 0, id: "buy", class: "with-gap" %>
      <%= form.label :usage_0, for: "buy" %>
      <%= form.radio_button :usage, 1, id: "use", class: "with-gap" %>
      <%= form.label :usage_1, for: "use" %>
    </div>
      <%= form.label :coupon_number, id: "use_coupon" %>
      <%= form.text_field :coupon_number, placeholder: "回数券購入と使用をリンクします。リンク先のコースIDを入力して下さい。", id: "use_coupon" %>
      <%= form.label :counting, id: "use_coupon" %>
      <%= form.number_field :counting, id: "use_coupon" %>
      <%= form.label :validity_period, id: "use_coupon" %>
      <%= form.text_field :validity_period, placeholder: "ex. 3ヶ月の場合　→　90", id: "use_coupon" %>
    </td>
  </tr>
  <tr>
    <th><%= form.label :price %></th>
    <td><%= form.text_field :price, placeholder: "3000" %></td>
  </tr>
  <tr>
    <th><%= form.label :attached_point %></th>
    <td><%= form.text_field :attached_point, placeholder: "30" %></td>
  </tr>
</table>
