<%  @page_title = "クリニックの詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "アカウント詳細に戻る", current_user %></p>

<p><%= link_to "編集", edit_user_clinic_url %> | <%= link_to "削除", user_clinic_url(id: @clinic.user_id), method: :delete,
      data: { confirm: "本当に削除しますか?" } %></p>

<table class="highlight">
  <tr>
    <th width="150px">治療院名等</th>
    <td><%= @clinic.name %></td>
  </tr>
  <tr>
    <th>ホームページ</th>
    <td><a href="<%= @clinic.hp_url %>"><%= @clinic.hp_url %></a></td>
  </tr>
</table>

</div>
