<%  @page_title = "クーポン一覧" %>
<h1><%= @user.full_name + "さんの" + @page_title %></h1>

<div class="row">
<div class="col s8">
<%= form_tag :search_practice_user_coupons, method: :get do %>
  <p><%= text_field_tag "q", params[:q] %>
  <%= button_tag "検索", class: "btn waves-effect waves-light", type: "button", onclick: "submit();" %></p>
<% end %>

</div>
</div>

<div class="row">
<div class="col s8">
  <p>
    <%= link_to "会計一覧", practice_user_patients_receipts_path(@user, @patients_receipt) %>
  </p>
</div>
</div>

<% if @user.received_coupons.where(buyer_id: @user.id).present? %>
<div class="row">
<div class="col s8">

<ul class="collection hoverable">

  <% @coupons.each do |coupon| %>
  <% if coupon.buyer.id == @user.id %>
    <li class="collection-item avatar">
      <%= image_tag coupon.seller.avatar.url, class: "circle" %>
      <p><%= coupon.seller.clinic.name %><br>
          <%= link_to coupon.coupon_name, practice_user_coupon_url(id: coupon.id) %>
      </p>
      <span class="title">残り回数<%= coupon.remaining %></span>
      <p class="secondary-content">有効期限
        <% if coupon.expiration_date.present? %>
          <%= simple_time(coupon.expiration_date) %>
        <% end %>
         残り<%= @coupon_life %>日</p>
    </li>
  <% end %>
  <% end %>
</ul>

</div>
</div>

<% else %>
<p>現在クーポンを保有していません。</p>
<% end %>
