<%= render "shared/errors", obj: @receipt %>

<table class="highlight">
  <tr>
    <th><%= form.label :payday %></th>
    <td><%= form.date_field :payday,
              start_year: 2000, end_year: Time.now.year + 1 %></td>
  </tr>
  <tbody id="receipt_table">
  <tr>
    <th><%= form.label :service %></th>
    <td><%= form.select :service, Menu.all.map(&:content_name), id: "receipt_service",:prompt => "選択して下さい" %></td>
    <td>
      <a class="btn-floating btn-small waves-effect waves-light green lighten-1" onclick="addList(this);"><i class="material-icons">add</i></a>
      <a class="btn-floating btn-small waves-effect waves-light red lighten-1" onclick="removeList(this);"><i class="material-icons">remove</i></a>
    </td>
  </tr>
  <tr>
    <th><%= form.label :payment %></th>
      <%= javascript_tag do %>
        payment = <%= Menu.pluck(:price) %>;
      <% end %>
    <td><%= form.text_field :payment, id: "receipt_payment" %></td>
  </tr>
  <tr>
    <th><%= form.label :gained_point %></th>
      <%= javascript_tag do %>
        point = <%= Menu.pluck(:attached_point) %>
      <% end %>
    <td><%= form.text_field :gained_point, id: "receipt_point" %></td>
  </tr>
  <tr>
    <th><%= form.label :payment_method %></th>
    <td><%= form.select :payment_method, Receipt.payment_methods.keys %></td>
  </tr>
  </tbody>
</table>
