<%= render "shared/errors", obj: @receipt %>

<table class="highlight">
  <tr>
    <th><%= form.label :payday %></th>
    <td><%= form.date_field :payday,
              start_year: 2000, end_year: Time.now.year + 1 %></td>
  </tr>
  <tbody id="receipt_table">
  <tr>
    <th><%= form.label :service %></th>
    <td><%= form.select :service, Menu.all.map(&:content_name) %></td>
    <td>
      <a class="btn-floating btn-large waves-effect waves-light green" onclick="addList(this);"><i class="material-icons">add</i></a>
      <a class="btn-floating btn-large waves-effect waves-light red" onclick="removeList(this);"><i class="material-icons">remove</i></a>
    </td>
  </tr>
  <tr>
    <th><%= form.label :payment %></th>
      <% payment = Menu.pluck(:price) %>
    <td><%= form.text_field :payment %></td>
  </tr>
  <tr>
    <th><%= form.label :gained_point %></th>
      <% point = Menu.pluck(:attached_point) %>
    <td><%= form.text_field :gained_point %></td>
  </tr>
  <tr>
    <th><%= form.label :payment_method %></th>
    <td><%= form.select :payment_method, Receipt.payment_methods.keys %></td>
  </tr>
  </tbody>
</table>

<script>

  function addList(obj) {

  // tbody要素に指定したIDを取得し、変数「tbody」に代入
  var tbody = document.getElementById("receipt_table");
  // objの親の親のノードを取得し（つまりtr要素）、変数「tr」に代入
  var tr = obj.parentNode.parentNode;
  // selectがあるtr（行）を複製し、変数「list」に代入
  var list = tbody.childNodes[1].cloneNode(true);
  //　複製したノード「list」を直後の兄弟ノードの上に挿入
  // （「tr」の下に挿入）
  tbody.insertBefore(list, tr.nextSibling);
}

function removeList(obj) {

  // tbody要素に指定したIDを取得し、変数「tbody」に代入
  var tbody = document.getElementById("receipt_table");
  // objの親の親のノードを取得し（つまりtr要素）、変数「tr」に代入
  var tr = obj.parentNode.parentNode;
  // 「tbody」の子ノード「tr」を削除
  tbody.removeChild(tr);

}
</script>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">

$(function () {
                var pay = payment;

                $('select').on('change', function () {
                    var i = $(this).val();
                    $('#receipt_payment').val(pay[i]);
                });
            });
</script>
