<%  @page_title = "診察券" %>
<h1><%=  @page_title %></h1>

<p><%= link_to "アカウント詳細へ戻る", @user %> | <%= link_to "新規作成", new_clinic_card_url %></p>

<% if @clinic_card.present? %>

<div class="row">
<div class="col s9">

<ul class="collection hoverable">

  <% @clinic_cards.each do |clinic_card| %>
    <li class="collection-item avatar">
      <%= image_tag clinic_card.publisher.avatar.url, class: "circle" %>
      <p>
       <%= clinic_card.publisher.name %><br>
       <%= link_to clinic_card.number, clinic_card %>
      </p>
      <span class="title"><%= clnic_card.holding_point %></span>
      <p class="secondary-content">
        <%= link_to "編集", [:edit, clinic_card] %> |
        <%= link_to "削除", clinic_card, method: :delete,
          data: { confirm: "本当に削除しますか?" } %>
      </p>
    </li>
  <% end %>

</ul>

</div>
</div>

<% else %>
<p>現在診察券を保有していません。</p>
<% end %>
