<%  @page_title = "診察券詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "診察券一覧", :clinic_cards %> | <%= link_to "編集", [:edit, @clinic_card] %></p>

<table class="highlight">

  <%= @clinic_card.id %>
  <tr>
    <th>治療院名</th>
    <td><%= @clinic_card.publisher.name %></td>
  </tr>
  <tr>
    <th>診察券番号</th>
    <td><%= @clinic_card.number %></td>
  </tr>
  <tr>
    <th>保有ポイント</th>
    <td><%= @clinic_card.holding_point %></td>
  </tr>
  <tr>
    <th>最終来院日</th>
    <td><%= @clinic_card.holder.joins(:patients_receipt).select("patients_receipt.payday").last.attributes %></td>
  </tr>
</table>

</div>
