<%  @page_title = "診察券詳細" %>

<h1><%=  @page_title %></h1>

<div class="row">

<p><%= link_to "診察券一覧", user_clinic_cards_url %></p>

<table class="highlight">

  <tr>
    <th>治療院名</th>
    <td><%= @clinic_card.publisher.clinic.name %></td>
  </tr>
  <tr>
    <th>診察券番号</th>
    <td><%= @clinic_card.number %></td>
  </tr>
  <tr>
    <th>保有ポイント</th>
    <td><%= @clinic_card.holding_point %></td>
  </tr>
  <tr>
    <th>最終施術日</th>
    <td>
      <%= @payday %>
    </td>
  </tr>
</table>

</div>
