<!DOCTYPE html>
<html>
  <head>
    <title>karte</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body>
    <header>
      
        <%= render "shared/header" %>

    </header>

    <main>
      <% if flash.notice %>
        <p class="notice"><%= notice %></p>
      <% end %>
      <p class="alert"><%= alert %></p>
        <div class="container">

          <%= yield %>

        </div>
    </main>

    <footer class="page-footer">

      <%= render "shared/footer" %>

    </footer>
  </body>
</html>
